/.vs
/.idea
/Build
/FikaCompat/bin
/FikaCompat/obj
/Plugin/bin
/Plugin/obj
/Prepatch/bin
/Prepatch/obj
/Server/bin
/Server/obj
/ConfigGUI/.vs
/ConfigGUI/.idea
/ConfigGUI/bin
/ConfigGUI/obj
/ConfigGUI/publish_output
/ConfigGUI/publish--CLI.txt
/Fika.Core.dll
/RaidOverhaul.sln
/RaidOverhaul.sln.DotSettings.user
/UnityToolkit
